* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-page {
  display: flex;
  justify-content: center;
}
.container {
  height: 145vh;
  width: 500px;
  background-color: #ececec;
  padding: 10px;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-left {
  display: flex;
  padding: 10px;
}
.new-post {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}
.at-icon {
  width: 40px;
  height: 40px;
  margin-top: -5px;
}
.menu-right {
  display: flex;
}
.menu-right img {
  width: 30px;
  height: 30px;
}
.title {
  font-size: 20px;
  font-weight: bold;
}
.line-profile {
  display: flex;
  justify-content: space-between;
  margin-top: 5vh;
  /* background-color: aquamarine; */
  height: 100px;
  width: 100%;
  align-items: center;
}
.story {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 125px;
  width: 125px;
  background: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
  border-radius: 50%;
}
.image-profile {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 2px solid #fff;
}
.prof-info {
  width: 70%;
}
.number {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  align-items: center;
  margin-left: -10px;
}
.fallow {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  align-items: center;
  margin-bottom: 25px;
}
.btn {
  display: flex;
  justify-content: space-between;
}
.message-btn {
  padding: 10px;
  font-weight: bold;
  align-items: center;
}
.btn-ui {
  text-decoration: none;
  border: 1px solid #494949;
  color: black;
  border-radius: 6px;
}
.message-btn {
  padding: 5px 70px;
}
.message-btn2 {
  padding: 5px 25px;
}
.message-btn2 img {
  width: 20px;
  height: 20px;
}
.message-btn3 {
  padding: 5px 20px;
}
.image-down {
  width: 20px;
  height: 20px;
}
.bio {
  margin-top: 50px;
}
.Highlight {
  display: flex;
}
.story1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
  width: 85px;
  background: gray;
  border-radius: 50%;
  margin: 40px 10px;
}
.image-profile1 {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 2px solid #fff;
}
.Highlight-text {
  margin-top: -20px;
  width: 35%;
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
}
.video {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  border-top: 2px solid #b6b6b6;
}
.img-post {
  border-bottom: 2px solid #b6b6b6;
}
.posts {
  /* background-color: rebeccapurple; */
  width: 100%;
  height: 50vh;
}
.row1 {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.row1-img {
  width: 33%;
  height: 25vh;
}
.footer {
  width: 100%;
  height: 10vh;
  background-color: #fff;
  margin-top: 10px;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-icon {
  width: 35px;
  height: 35px;
}
.footer-icon1 {
  width: 50px;
  height: 50px;
}
.my-page1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background: gray;
  border-radius: 50%;
  margin: 40px 10px;
}
.image-profile2 {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 2px solid #fff;
}
